@model Payasos.Core.ViewModels.LkViewModel

@{
    ViewData["Title"] = "Личный кабинет";
}
<div class=" mt-7 container flex justify-center mx-auto flex flex-col w-full border-b border-gray-200 shadow">
<h1>@Model.OrgName</h1>
<h3>Пригласительный код: @Model.InviteCode</h3>
<table class="divide-y divide-gray-300 bg-blue-500" >
    <thead>
    <tr>
        <td class="text-center py-2 bg-neutral-700 text-base text-white">Имя</td>
        <td class="text-center py-2 bg-neutral-700 text-base text-white">Фамилия</td>
        <td class="text-center py-2 bg-neutral-700 text-base text-white">Отчество</td>
        <td class="text-center py-2 bg-neutral-700 text-base text-white">Email</td>
        <td class="text-center py-2 bg-neutral-700 text-base text-white">Должность</td>
    </tr>
   </thead>
    <tbody class="bg-white divide-y divide-gray-300">
    @foreach (var user in Model.Users)
    {
        <tr class="whitespace-nowrap">
            <td class="text-center py-2 px-2 text-neutral-400" fill="none">@user.FirstName</td>
            <td class="text-center py-2 px-2 text-neutral-400" fill="none">@user.LastName</td>
            <td class="text-center py-2 px-2 text-neutral-400" fill="none">@user.SecondName</td>
            <td class="text-center py-2 px-2 text-neutral-400" fill="none">@user.Email</td>
            <td class="text-center py-2 px-2 text-neutral-400" fill="none">@(user.IsAdmin ? "Руководитель" : "Сотрудник")</td>
        </tr>
    }
    </tbody>
</table>
</div>